extends ../layout
block content
  form(method="post", action="/get-article", enctype="multipart/form-data", role="form")
    label 文章链接
    textarea(rows="3", cols="20", name="article[link]"  autofocus)
    button(type="sublimt") 添加
    button(type="reset") 清空
